<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>

  <% if (htmlWebpackPlugin.options.env !== 'development') { %>
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <% } %>
</head>

<body>
  @require('./lib/app/components/header.html')
  <h1><i class="fa fa-battery-full" aria-hidden="true"></i>home</h1>
  <nav>
    <a href="page-a/page-a.html">page-a</a>
    <a href="page-b/page-b.html">page-b</a>
    <a href="page-c/page-c.html">page-c</a>
  </nav>
  <img src="./lib/app/img/webpack.png" alt=""> @require('./lib/app/components/footer.html')

  <% if (htmlWebpackPlugin.options.env !== 'development') { %>
    <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/lodash.js/4.17.4/lodash.min.js"></script>
    <% } %>
</body>

</html>
