<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
</head>

<body>
  <h1>home</h1>
  <nav>
    <a href="page-a/page-a.html">page-a</a>
    <a href="page-b/page-b.html">page-b</a>
    <a href="page-c/page-c.html">page-c</a>
  </nav>
  <img src="<%= require('app/res/webpack.png') %>" alt="">
  <% if (htmlWebpackPlugin.options.env === 'production') { %>
  <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <% } %>
</body>

</html>
